<h1>Challenge 02 - "The JS Clock" | <%= link_to "Homepage", root_path, class: "link" %></h1>

<div class="challenge02">
  <div class="clock">
    <div class="clock-face">
      <div class="hand hour-hand"></div>
      <div class="hand min-hand"></div>
      <div class="hand second-hand"></div>
    </div>
  </div>
</div>
